<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}

</head>
<body>
    {{>navbar}}

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-12 col-12 mx-auto"> 
                <div class="row">
                    <div class="col-md-6 col-12 main_header_left align-items-center">
                        <figure class="errimg">
                            <img src="images/404page.png" alt="manasvi" class="img-fluid">
                        </figure>
                    
                        <p>Welcome to weather app</p>
                         <h1>{{errorMsg}}</h1> <!-- difference between span tag and div tag - span tag does not break the line in middle -->
                         <!-- _helps in opening the link in new page -->
                        <a href="/" ><button>Go back</button></a> 
                    </div>
                    <!-- right side div -->
                    
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
     <footer>
        <p>created with ❤️</p>
     </footer>
</body>
</html>