<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}

</head>
<body>
    {{>navbar}}

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto"> 
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/shadow.png" alt="manasvi" class="img-fluid">
                        </figure>
                    </div>
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                         <h1>I am a <span class="text_clr">Student </span>trying to improve her skills</h1> <!-- difference between span tag and div tag - span tag does not break the line in middle -->
                         <!-- _helps in opening the link in new page -->
                        <a href="https://www.linkedin.com/in/manasvi-arora-a76a0827a/r" target="_manasvi"><button>About me</button></a> 
                    </div>
                    <!-- right side div -->
                    
                </div>
            </div>
        </div>
    </div>

    
</body>
</html>